## merging dataframes in pandas

In [1]:
import pandas as pd

##MOVIES

In [7]:
movie_cols=['movie_id','title']
movies=pd.read_table('http://bit.ly/imdbratings')#,sep='|',header=None,names=movie_cols,usecols=[0,1])
movies.head()

  star_rating,title,content_rating,genre,duration,actors_list
0  9.3,The Shawshank Redemption,R,Crime,142,"[u'T...
1  9.2,The Godfather,R,Crime,175,"[u'Marlon Brand...
2  9.1,The Godfather: Part II,R,Crime,200,"[u'Al ...
3  9,The Dark Knight,PG-13,Action,152,"[u'Christi...
4  8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta...

In [12]:
movie=pd.read_table('movies',sep='|',header=None,names=movie_cols,usecols=[0,1])
movies.head()

FileNotFoundError: [Errno 2] No such file or directory: 'movies'

In [8]:
movies.shape

(979, 1)

In [9]:
movies.movie_id.nunique()

AttributeError: 'DataFrame' object has no attribute 'movie_id'

## ratings

In [10]:
pd.merge(movies,rating)

NameError: name 'rating' is not defined

In [ ]:
movies=movies.set_index('m_id')
movies.head

In [8]:
pd.merge(movies,ratings,left_index=True,right_on='movie_id').head()

NameError: name 'movies' is not defined

In [9]:
pd.merge(movies,ratings,left_index=True,right_index=True).head()

NameError: name 'movies' is not defined

## joins

In [13]:
A=pd.DataFrame({'color':['green','yellow','red'],'num':[1,2,3]})
A

    color  num
0   green    1
1  yellow    2
2     red    3

In [14]:
B=pd.DataFrame({'color':['green','yellow','pink'],'size':['S','M','L']})
B

    color size
0   green    S
1  yellow    M
2    pink    L

## inner join

In [15]:
pd.merge(A,B,how='inner')

    color  num size
0   green    1    S
1  yellow    2    M

## outer join

In [15]:
pd.merge(A,B,how='outer')

    color  num size
0   green  1.0    S
1  yellow  2.0    M
2     red  3.0  NaN
3    pink  NaN    L

In [16]:
pd.merge(A,B,how='left')

    color  num size
0   green    1    S
1  yellow    2    M
2     red    3  NaN

In [17]:
pd.merge(A,B,how='right')

    color  num size
0   green  1.0    S
1  yellow  2.0    M
2    pink  NaN    L