## How do i find and remove duplicate rows in pandas?

In [1]:
import pandas as pd

In [2]:
# read a dataset of movie reviewers 
user_cols=['user_id','age','gender','occupation','zip_code']
users=pd.read_table('http://bit.ly/movieusers',sep='|',header= None,names=user_cols)

In [3]:
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [4]:
users.shape

(943, 5)

In [5]:
users.zip_code.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
938    False
939     True
940    False
941    False
942    False
Name: zip_code, Length: 943, dtype: bool

In [6]:
users.zip_code.duplicated().sum()

148

In [7]:
users.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
938    False
939    False
940    False
941    False
942    False
Length: 943, dtype: bool

In [8]:
users.duplicated().sum()

0

In [9]:
users.loc[users.duplicated(),:]

Empty DataFrame
Columns: [user_id, age, gender, occupation, zip_code]
Index: []

In [10]:
users.loc[users.duplicated(keep='first'),:]

Empty DataFrame
Columns: [user_id, age, gender, occupation, zip_code]
Index: []

In [11]:
users.loc[users.duplicated(keep='last'),:]

Empty DataFrame
Columns: [user_id, age, gender, occupation, zip_code]
Index: []

In [12]:
users.loc[users.duplicated(keep=False),:]

Empty DataFrame
Columns: [user_id, age, gender, occupation, zip_code]
Index: []

In [13]:
users.drop_duplicates(keep='first').shape

(943, 5)

In [14]:
users.drop_duplicates(keep='last').shape

(943, 5)

In [15]:
users.drop_duplicates(keep=False).shape

(943, 5)

In [16]:
users.duplicated(subset=['age','zip_code']).sum()

16

In [27]:
users.drop_duplicates(subset=['age','zip_code']).shape

(927, 5)