## 4 time saving technique

In [1]:
import pandas as pd

## create a datetime column from a DataFrame

In [2]:
# create an example dataFrame
df=pd.DataFrame([[12,25,2017,10],[1,15,2018,11]],
               columns=['month','day','year','hour'])
df

   month  day  year  hour
0     12   25  2017    10
1      1   15  2018    11

In [3]:
# new :create a datetime column from the entire DataFrame
pd.to_datetime(df)

0   2017-12-25 10:00:00
1   2018-01-15 11:00:00
dtype: datetime64[ns]

In [4]:
# new :create a datetime column subset of columns
pd.to_datetime(df[['month','day','year']])
df

   month  day  year  hour
0     12   25  2017    10
1      1   15  2018    11

In [5]:
# overwrite the index
df.index=pd.to_datetime(df[['month','day','year']])
df

            month  day  year  hour
2017-12-25     12   25  2017    10
2018-01-15      1   15  2018    11

# create a category column during file reading

In [6]:
drinks=pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [7]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [8]:
drinks['continent']=drinks.continent.astype('category')
drinks.dtypes

country                           object
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [9]:
drinks=pd.read_csv('http://bit.ly/drinksbycountry',dtype={'continent':'category'})
drinks.dtypes

country                           object
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [10]:
# old way to convert data types (one at a time)
drinks['beer_servings']=drinks.beer_servings.astype('float')
drinks['spirit_servings']=drinks.spirit_servings.astype('float')
drinks.dtypes

country                           object
beer_servings                    float64
spirit_servings                  float64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [12]:
# new way to convert data types (all at once)
drinks=pd.read_csv('http://bit.ly/drinksbycountry')
drinks=drinks.astype({'beer_servings':'float','spirit_servings':'float'})                   
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                 float64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

# apply multiple aggregation function after a groupby

In [17]:
# example of a single aggregation function after a groupby
drinks.groupby('continent').beer_servings.mean()
drinks.groupby('continent').beer_servings.agg(['mean','min','max'])

                     mean   min    max
continent
Africa          61.471698   0.0  376.0
Asia            37.045455   0.0  247.0
Europe         193.777778   0.0  361.0
North America  145.434783   1.0  285.0
Oceania         89.687500   0.0  306.0
South America  175.083333  93.0  333.0

In [18]:
# multiple aggregation functions can be applied simultaneously
drinks.groupby('continent').beer_servings.agg(['mean','min','max'])

                     mean   min    max
continent
Africa          61.471698   0.0  376.0
Asia            37.045455   0.0  247.0
Europe         193.777778   0.0  361.0
North America  145.434783   1.0  285.0
Oceania         89.687500   0.0  306.0
South America  175.083333  93.0  333.0

In [19]:
# new :apply the same aggregation to a series
drinks.beer_servings.agg(['mean','min','max'])

mean    106.160622
min       0.000000
max     376.000000
Name: beer_servings, dtype: float64

In [16]:
# new:apply the same aggretions to a dataframe
drinks.agg(['mean','min','max'])

TypeError: Could not convert string 'AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua & BarbudaArgentinaArmeniaAustraliaAustriaAzerbaijanBahamasBahrainBangladeshBarbadosBelarusBelgiumBelizeBeninBhutanBoliviaBosnia-HerzegovinaBotswanaBrazilBruneiBulgariaBurkina FasoBurundiCote d'IvoireCabo VerdeCambodiaCameroonCanadaCentral African RepublicChadChileChinaColombiaComorosCongoCook IslandsCosta RicaCroatiaCubaCyprusCzech RepublicNorth KoreaDR CongoDenmarkDjiboutiDominicaDominican RepublicEcuadorEgyptEl SalvadorEquatorial GuineaEritreaEstoniaEthiopiaFijiFinlandFranceGabonGambiaGeorgiaGermanyGhanaGreeceGrenadaGuatemalaGuineaGuinea-BissauGuyanaHaitiHondurasHungaryIcelandIndiaIndonesiaIranIraqIrelandIsraelItalyJamaicaJapanJordanKazakhstanKenyaKiribatiKuwaitKyrgyzstanLaosLatviaLebanonLesothoLiberiaLibyaLithuaniaLuxembourgMadagascarMalawiMalaysiaMaldivesMaliMaltaMarshall IslandsMauritaniaMauritiusMexicoMicronesiaMonacoMongoliaMontenegroMoroccoMozambiqueMyanmarNamibiaNauruNepalNetherlandsNew ZealandNicaraguaNigerNigeriaNiueNorwayOmanPakistanPalauPanamaPapua New GuineaParaguayPeruPhilippinesPolandPortugalQatarSouth KoreaMoldovaRomaniaRussian FederationRwandaSt. Kitts & NevisSt. LuciaSt. Vincent & the GrenadinesSamoaSan MarinoSao Tome & PrincipeSaudi ArabiaSenegalSerbiaSeychellesSierra LeoneSingaporeSlovakiaSloveniaSolomon IslandsSomaliaSouth AfricaSpainSri LankaSudanSurinameSwazilandSwedenSwitzerlandSyriaTajikistanThailandMacedoniaTimor-LesteTogoTongaTrinidad & TobagoTunisiaTurkeyTurkmenistanTuvaluUgandaUkraineUnited Arab EmiratesUnited KingdomTanzaniaUSAUruguayUzbekistanVanuatuVenezuelaVietnamYemenZambiaZimbabwe' to numeric

# bonus